#header-section {
  display: inline;
}
#hero-main {
  margin-bottom: 100px;
}
#features {
  margin-bottom: 100px;
}
#features img {
  margin-bottom: 10px;
}
#hero-1 {
  margin-bottom: 100px;
}
#hero-2 {
  margin-bottom: 100px;
}
#testimonials {
  margin-bottom: 100px;
}
